html {
  font-family: Roboto, sans-serif;
  font-size: 10px;
  line-height: 14px;
  color: $secondary-font-color;
}

body {
  margin: 0;
}

.card {
  box-sizing: border-box;
  width: 200px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 32px 16px 16px;
  background-color: #fff;
}

.card__image {
  display: block;
  width: 160px;
  height: 134px;
  margin: 0 auto 40px;
}

.card__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $main-font-color;
  margin-bottom: 4px;
}

.card__code {
  margin-bottom: 16px;
}

.card__price-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: center;
}

.card__price-label {
  font-size: 12px;
  line-height: 18px;
}

.card__price {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.card__review-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  align-items: flex-end;

  &-count {
    color: $main-font-color;
  }
}

.card__buy {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  height: 40px;
  border: 1px solid $main-color;
  border-radius: 5px;

  font-size: 14px;
  line-height: 16px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  background-color: $main-color;

  &:hover {
    background-color: #fff;
    color: $main-font-color;
  }
}
